[data-is-live-editing] .lpb-controls,
[data-is-live-editing] .lpb-btn,
[data-is-live-editing] .lpb-btn--add {
  display: none;
}
.lp-builder:not(.me-is-live-editing) .me-is-editable:hover {
  cursor: text;
}
.lp-builder.me-is-live-editing .me-is-editable.lp-editor-attached:hover {
  cursor: text;
}
.me-is-live-editing .js-lpb-ui {
  display: none !important;
}
.me-is-live-editing .js-lpb-region {
  outline: none !important;
}
.me-is-live-editing .js-lpb-component  {
  outline-color: transparent !important;
  transition: none !important;
  cursor: default !important;
}
