.me-is-editable .ck.ck-editor__editable_inline {
  padding: 0;
}
.me-is-editable .ck.ck-editor__editable_inline>:first-child {
  margin-top: 0;
}
.me-is-editable .ck.ck-editor__editable_inline>:last-child {
  margin-bottom: 0;
}
.me-inline-editor__toolbar {
  z-index: 1000;
  position: absolute;
  bottom: 100%;
}
[data-me-live-edit-enabled] .js-lpb-ui {
  display: none !important;
}
[data-me-live-edit-enabled] .js-lpb-region,
[data-me-live-edit-enabled] .lpb-layout,
[data-me-live-edit-enabled] .js-lpb-component {
  outline: none !important;
}
